src/main/resources/schemas/shapes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://woldia.edu/shapetool"
           xmlns:tns="http://woldia.edu/shapetool"
           elementFormDefault="qualified">

    <xs:simpleType name="nonNegativeDouble">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="CircleAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="radius" type="tns:nonNegativeDouble"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CircleAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="area" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SquareAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="side" type="tns:nonNegativeDouble"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SquareAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="area" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="RectangleAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="length" type="tns:nonNegativeDouble"/>
                <xs:element name="width" type="tns:nonNegativeDouble"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RectangleAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="area" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ParallelogramAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="base" type="tns:nonNegativeDouble"/>
                <xs:element name="height" type="tns:nonNegativeDouble"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ParallelogramAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="area" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TriangleAreaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="base" type="tns:nonNegativeDouble"/>
                <xs:element name="height" type="tns:nonNegativeDouble"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TriangleAreaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="area" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>